
body {
	background-color:#080725;

	}
article .line{
	
	background-color:#232156;
	border-bottom-color:#232156;
	margin:1.3em 0;
	
}

footer .line{
	margin:2em 0;
	
}

nav{
	background:#232156;
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;

	border:1px solid #241fa8;

	-moz-box-shadow:0 1px 1px #02012f;
	-webkit-box-shadow:0 1px 1px #02012f;
	box-shadow:0 1px 1px #02012f;
}

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#e9e9e9;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#080725;
}

nav, article, nav ul li a,figure{

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
}

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

article{
	background-color:#232156;
	margin:3em 0;
	padding:20px;

}

figure{
	border:3px solid #142830;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #800000;
	-webkit-box-shadow:0 0 2px #800000;
	box-shadow:0 0 2px #800000;
}

figure img{
	margin-left:-60px;
}



footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}

footer p{
	margin-bottom:-2.5em;
	position:relative;
}

footer a,footer a:visited{
	color:#00000;
	background-color:#232156;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	background-color:#232156;
}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}